@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family Lexend Deca Start*/

@font-face {
  font-family: "Lexend Deca";
  src: url("/fonts/Lexend_Deca/LexendDeca-Regular.ttf");
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Lexend Deca";
  src: url("/fonts/Lexend_Deca/LexendDeca-Medium.ttf");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "Lexend Deca";
  src: url("/fonts/Lexend_Deca/LexendDeca-SemiBold.ttf");
  font-weight: 600;
  font-display: block;
}

/* Font Family Lexend Deca End*/

/* Font Family Inter Start*/

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
  font-display: block;
}

/* Font Family Inter End*/

/* Font Family Outfit Start*/

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/Outfit-Regular.ttf");
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/Outfit-Medium.ttf");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit/Outfit-Bold.ttf");
  font-weight: 700;
  font-display: block;
}

/* Font Family Outfit End*/

/* Font Family DM_Sans Start*/

@font-face {
  font-family: "DM_Sans";
  src: url("/fonts/DM_Sans/bold.ttf");
  font-weight: 700;
  font-display: block;
}

/* Font Family DM_Sans End*/

.Lexend {
  font-family: "Lexend Deca";
}
.Inter {
  font-family: "Inter";
}
.Outfit {
  font-family: "Outfit";
}
.Dm {
  font-family: "DM_Sans";
}
body {
  font-family: "Lexend Deca";
  color: #3b4555;
}
.sidebarMainMenu .sidebarMainMenuChevron {
  transform: rotate(180deg);
}

.sidebarMainMenu.active .sidebarMainMenuChevron {
  transform: rotate(0);
}
.sidebarMainMenu.active {
  max-height: 20vw;
}
@layer components {
  .sideBar_Features {
    @apply border14 border border-transparent  flex items-end justify-between  px-[0.78125vw] py-[0.57291666666vw];
  }
  .sideBar_Features_DropDown_Item {
    @apply flex gap-x-[0.52083333333vw] items-center py-[0.625vw] pl-[1.92708333333vw];
  }
  .sideBar_Features_DropDown {
    @apply max-h-0 overflow-hidden flex flex-col gap-y-[0.366vw];
  }
  .dropdownContainer.active .sideBar_Features_DropDown {
    @apply max-h-[2000px] mt-[0.366vw];
  }
  .dropdownContainer.active .dropdownChevron {
    @apply rotate-[180deg];
  }

  .sideBar_Features,
  .sideBar_Features span,
  .sideBar_Features img,
  .sideBar_Features_DropDown_Item div,
  .sideBar_Features_DropDown_Item span,
  .sideBar_Features_DropDown {
    @apply transition-all duration-300;
  }
  .sideBar_Features.active span,
  .sideBar_Features:hover span {
    @apply font-[500] text-opacity-[1];
  }
  .sideBar_Features.active img,
  .sideBar_Features:hover img {
    @apply opacity-[1];
  }
  .sideBar_Features_DropDown_Item.active div,
  .sideBar_Features_DropDown_Item:hover div {
    @apply bg-[#FE7239];
  }
  .sideBar_Features_DropDown_Item.active span,
  .sideBar_Features_DropDown_Item:hover span {
    @apply text-[#FE7239] text-opacity-[1] font-[500];
  }
  .sideBar_Features.active,
  .sideBar_Features:hover {
    @apply bg-[#FE7239]   border-[#FE7239];
  }
  .sideBar_Features.active .sideBar_Feature_number,
  .sideBar_Features:hover .sideBar_Feature_number {
    @apply bg-white text-[#FE7239];
  }
  .pricingDetail_Card.active {
    @apply border26 text-white transform translate-y-[-1.35416666667vw] bg-[#FE7239];
  }
  .pricingDetail_Card.active span,
  .pricingDetail_Card.active h4 {
    @apply text-white;
  }
  .pricingDetail_Card.active a {
    @apply text-[#E5552B] w-full bg-white;
  }
  .pricingDetail_Card.active img.white {
    @apply block;
  }
  .pricingDetail_Card.active img.gray {
    @apply hidden;
  }

  .text14 {
    @apply text-[0.72916666666vw] leading-[0.9375vw];
  }
  .text12 {
    @apply text-[0.625vw];
  }
  .text10 {
    @apply text-[0.52083333333vw];
  }
  .text15 {
    @apply text-[0.78125vw];
  }
  .text16 {
    @apply text-[0.83333333333vw];
  }
  .text18 {
    @apply text-[0.9375vw];
  }
  .text20 {
    @apply text-[1.04166666667vw];
  }
  .text24 {
    @apply text-[1.25vw];
  }
  .text26 {
    @apply text-[1.35416666667vw];
  }
  .text28 {
    @apply text-[1.45833333333vw];
  }
  .text22 {
    @apply text-[1.14583333333vw];
  }
  .text32 {
    @apply text-[1.66666666667vw];
  }
  .text36 {
    @apply text-[1.875vw];
  }
  .t0084 {
    @apply tracking-[-0.004375vw];
  }
  .t0096 {
    @apply tracking-[-0.005vw];
  }
  .t024 {
    @apply tracking-[-0.0125vw];
  }
  .t028 {
    @apply tracking-[-0.01458333333vw];
  }
  .t044 {
    @apply tracking-[-0.02291666666vw];
  }
  .t032 {
    @apply tracking-[-0.01666666666vw];
  }

  .border6 {
    @apply rounded-[0.3125vw];
  }
  .border8 {
    @apply rounded-[0.41666666666vw];
  }
  .border12 {
    @apply rounded-[0.625vw];
  }
  .border14 {
    @apply rounded-[0.72916666666vw];
  }
  .border16 {
    @apply rounded-[0.83333333333vw];
  }
  .border18 {
    @apply rounded-[0.9375vw];
  }
  .border20 {
    @apply rounded-[1.04166666667vw];
  }
  .border22 {
    @apply rounded-[1.14583333333vw];
  }
  .border29 {
    @apply rounded-[1.51041666667vw];
  }
  .border26 {
    @apply rounded-[1.35416666667vw];
  }

  .btn {
    @apply border8 text16 t0096 font-[500] py-[0.57291666666vw] px-[1.09375vw];
  }
  .orangeBtn {
    @apply bg-[#F57500] text-white hover:bg-opacity-[0.6] transition-all duration-300;
  }

  .smallBtn {
    @apply border16 text14 t028;
  }
}
.month_yearBtn.active {
  background: #fe7239;
  color: #fff;
  position: relative;
}
.sideBar_Profile {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 168px 856px 0px rgba(143, 143, 189, 0.07),
    0px 37.525px 191.199px 0px rgba(143, 143, 189, 0.04);
}
.sideBar_Profile a {
  border: 1px solid #fff;
  box-shadow: 0px 6px 29px 0px rgba(89, 108, 148, 0.07),
    0px 0.751px 3.631px 0px rgba(89, 108, 148, 0.04);
}
.upgrade_Btn {
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.pricingDetail_Card.active {
  box-shadow: 0px 42px 34px 0px rgba(234, 158, 116, 0.3);
}
.pricing_Details {
  background: rgba(238, 238, 238, 0.5);
  backdrop-filter: blur(17.5px);
}
.setting_Card {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
